/*styles for CSS positioning exercise*/

body{
    background-color:whitesmoke;
}

#bento{
    border:5px solid darkgray;
    width:50em;
    height: 20em;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    
}



#bento div{
    height:10em;
    width: 25em;
    margin:0 !important;
   display:flex;
   align-items: center;
   justify-content: center;
}

.box1{
    background-color: orangered;
   
}

.box2{
    background-color: cornflowerblue;
    
}

.box3{
    background-color: darkgreen;
    
}

.box4{
    background-color: darkslateblue;
    
}

h1{
    color: white;
    font-size: 3em;
    /* border:1px dotted white; */
    margin: 0;
 
    
}

/* Style the <h1> elements so that the font color is white, font size is 3em, and margin is 0. */

